%field {
  width: 100%;
  padding: var(--padding-top--form-field) var(--padding-right--form-field) var(--padding-bottom--form-field) var(--padding-left--form-field);
  box-sizing: border-box;
  font-family: var(--font-family--text);
  font-size: var(--font-size--text);
  line-height: var(--line-height--regular);
  border: none;
  border-bottom: 1px solid var(--border-color--form-field);
  outline: none;
  @include interaction {
    border-color: var(--border-color-hover--form-field);
  }
}
%form-icon {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  &::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
  }
}

.form {
  --form-label--height: 28px;
}
.form__row {

}
.form__field {
  margin-bottom: var(--margin-bottom--form-field);
}

.form-field__label {

}

.form-field-label__text {
  display: block;
  margin-bottom: var(--margin-bottom--form-label-text);
}

input[type="text"] {
  @extend %field;
}
input[type="number"] {
  @extend %field;
}
input[type="date"] {
  @extend %field;
}
input[type="password"] {
  @extend %field;
}
textarea {
  @extend %field;
}

.form-field__radio {
  display: flex;
  align-items: center;
  input[type="radio"] {
    display: none;
    &:checked + .form-field-radio__icon::before {
      background-color: var(--accent-color--first);
    }
  }
  @include interaction {
    color: var(--accent-color--first);
  }
}
.form-field-radio__icon {
  @extend %form-icon;
  border-radius: 50%;
  &::before {
    border-radius: inherit;
  }
}
.form-field-radio__text {

}

.form-field__checkbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    display: none;
    &:checked + .form-field-checkbox__icon::before {
      background-color: var(--accent-color--first);
    }
  }
  @include interaction {
    color: var(--accent-color--first);
  }
}
.form-field-checkbox__icon {
  @extend %form-icon;
  border-radius: 2px;
  &::before {
    border-radius: 1px;
  }
}
.form-field-checkbox__text {

}