%field {
  width: 100%;
  padding: var(--padding-top--form-field) var(--padding-right--form-field) var(--padding-bottom--form-field) var(--padding-left--form-field);
  box-sizing: border-box;
  font-family: var(--font-family--text);
  font-size: var(--font-size--text);
  line-height: var(--line-height--regular);
  border: none;
  border-bottom: 1px solid var(--border-color--form-field);
  outline: none;
  @include interaction {
    border-color: var(--border-color-hover--form-field);
  }
}
%form-icon {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  &::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
  }
}

.form {
  --form-label--height: 28px;
}
.form__row {

}
.form__field {
  position: relative;
  margin-bottom: var(--margin-bottom--form-field);
  &[data-js-form-field-status="true"] {
    .form-field-status__icon::before {
      content: '\E934';
      font-family: 'Linearicons', var(--font-family--back-up);
      color: var(--status-color--success);
    }
  }
  &[data-js-form-field-status="false"] {
    .form-field-status__icon::before {
      content: '\E935';
      font-family: 'Linearicons', var(--font-family--back-up);
      color: var(--status-color--error);
    }
  }
}


.form__field-radios {
  .form-field-status__icon {
    height: 24px;
  }
}
.form__field-checkboxes {
  .form-field-status__icon {
    height: 24px;
  }
}
.form__field-checkbox {
  .form-field-status__icon {
    height: 24px;
  }
}

.form-field__label {

}

.form-field-label__text {
  display: block;
  padding-bottom: var(--margin-bottom--form-label-text);
}

input[type="text"] {
  @extend %field;
}
input[type="number"] {
  @extend %field;
}
input[type="date"] {
  @extend %field;
}
input[type="password"] {
  @extend %field;
}
textarea {
  @extend %field;
}

.form-field__radio {
  display: flex;
  align-items: center;
  input[type="radio"] {
    display: none;
    &:checked + .form-field-radio__icon::before {
      background-color: var(--accent-color--first);
    }
  }
  @include interaction {
    color: var(--accent-color--first);
  }
}
.form-field-radio__icon {
  @extend %form-icon;
  border-radius: 50%;
  &::before {
    border-radius: inherit;
  }
}
.form-field-radio__text {

}

.form-field__checkbox {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    display: none;
    &:checked + .form-field-checkbox__icon::before {
      background-color: var(--accent-color--first);
    }
  }
  @include interaction {
    color: var(--accent-color--first);
  }
}
.form-field-checkbox__icon {
  @extend %form-icon;
  border-radius: 2px;
  &::before {
    border-radius: 1px;
  }
}
.form-field-checkbox__text {

}

.form-field__status {
  position: absolute;
  top: var(--form-label--height);
  right: 0;
  color: var(--text-color--first);
  &:hover {
    .form-field-status__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}
.form-field-status__tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: 100%;
  width: max-content;
  transform: translateX(-50%);
  padding: 8px 24px;
  border: 1px solid #e4e3e3;
  background: #FFFFFF;
  font-size: var(--font-size--small);
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  z-index: 14;
}
.form-field-status__icon {
  display: flex;
  width: 41px;
  height: 41px;
  align-items: center;
  justify-content: center;
}