@mixin responsive-layout {

  &--grid-parent {
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
  }

  /* Background colors are not included, would probably be used very rarely and
     costs too much file size. */
  &--grid-child {
    display: inline-grid;
    width: 100%;
    margin-bottom: var(--margin-bottom--object);
    padding: 0 var(--padding-right--object) 0 var(--padding-left--object);
    grid-column: span 12;
    box-sizing: border-box;
    &--1 { grid-column: span 1; }
    &--2 { grid-column: span 2; }
    &--3 { grid-column: span 3; }
    &--4 { grid-column: span 4; }
    &--5 { grid-column: span 5; }
    &--6 { grid-column: span 6; }
    &--7 { grid-column: span 7; }
    &--8 { grid-column: span 8; }
    &--9 { grid-column: span 9; }
    &--10 { grid-column: span 10; }
    &--11 { grid-column: span 11; }
    &--12 { grid-column: span 12; }
  }

  &--u-with-space {
    padding: var(--padding--object);
    margin-left: var(--margin-left--object);
    margin-right: var(--margin-right--object);
  }
  &--uf-with-space {
    padding: var(--padding--object) !important;
    margin-left: var(--margin-left--object) !important;
    margin-right: var(--margin-right--object) !important;
  }

}

@mixin responsive-spaces {

  &--margin-right--object-half {
    margin-right: calc(var(--margin-right--object) / 2);
  }

  &--margin-left--object-half {
    margin-left: calc(var(--margin-left--object) / 2);
  }

}

@include from-desktop {
  .fd {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include till-desktop {
  .td {
    @include responsive-layout;
    @include responsive-spaces;
  }
}

@include from-mobile-menu {
  .fmm {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include till-mobile-menu {
  .tmm {
    @include responsive-layout;
    @include responsive-spaces;
  }
}

@include from-large-tablet {
  .flt {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include only-large-tablet {
  .olt {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include till-large-tablet {
  .tlt {
    @include responsive-layout;
    @include responsive-spaces;
  }
}

@include from-small-tablet {
  .fst {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include only-small-tablet {
  .ost {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
@include till-small-tablet {
  .tst {
    @include responsive-layout;
    @include responsive-spaces;
  }
}
